In [79]:
import json
import sys
sys.path.append('/home/nbuser/library/')

import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
data = 'https://raw.githubusercontent.com/NZMSA/2020-Phase-1/master/Data%20Science%20and%20Machine%20Learning/Dataset%20for%20Assignment.csv'
data2 = pd.read_csv(data,error_bad_lines = False)
df = pd.read_excel('otago730395.xlsx')
data2 = pd.merge(data2, df, left_on = 'SA1', right_on='SA12018_code')

In [77]:
def census(lon,lat):
    url = 'https://koordinates.com/services/query/v1/vector.json'
    params = {
        'key': '051c5329c562478ba3aa21eb3a1fdfce',
        'layer': '104612',
        'x': lon,
        'y': lat
        }
    response = requests.get(url, params=params)
    if response.status_code == 200:
        table = response.json()['vectorQuery']['layers']['104612']['features'][0]['properties']['C18_CURPop']
        return pd.Series({"Population": table})
    else:
        return pd.Series({"Population": response.status_code})
    
data2['Population'] = data2.apply(lambda x: census(x["Longitude"],x["Latitude"]), axis = 1)
data2.head()

,Bedrooms,Bathrooms,Address,Land area,CV,Latitude,Longitude,SA1,0-19 years,20-29 years,...,50-59 years,60+ years,Suburbs,SA12018_code,NZDep2018,NZDep2018_Score,URPopnSA1_2018,SA22018_code,SA22018_name,Population
0,5,3.0,"106 Lawrence Crescent Hill Park, Auckland",714,960000,-37.012920,174.904069,7009770,48,27,...,24,21,Manurewa,7009770,6.0,997.0,174,159600,Hillpark North,174
1,5,3.0,"8 Corsica Way Karaka, Auckland",564,1250000,-37.063672,174.922912,7009991,42,18,...,15,30,Karaka,7009991,1.0,881.0,129,162500,Hingaia,129
2,6,4.0,"243 Harbourside Drive Karaka, Auckland",626,1250000,-37.063580,174.924044,7009991,42,18,...,15,30,Karaka,7009991,1.0,881.0,129,162500,Hingaia,129
3,2,1.0,"2/30 Hardington Street Onehunga, Auckland",65,740000,-36.912996,174.787425,7007871,42,6,...,12,15,Onehunga,7007871,2.0,908.0,120,144300,Onehunga North,120
4,3,1.0,"59 Israel Avenue Clover Park, Auckland",601,630000,-36.979037,174.892612,7008902,93,27,...,21,33,Clover Park,7008902,9.0,1091.0,231,157700,Clover Park North,231

In [82]:
data2.isnull().values.any()

True

In [84]:
data2 = data2.dropna()

In [85]:
data2.isnull().values.any()

False

In [86]:
data2.describe()

,Bedrooms,Bathrooms,Land area,CV,Latitude,Longitude,SA1,0-19 years,20-29 years,30-39 years,40-49 years,50-59 years,60+ years,SA12018_code,NZDep2018,NZDep2018_Score,URPopnSA1_2018,SA22018_code,Population
count,1048.000000,1048.000000,1048.000000,1.048000e+03,1048.000000,1048.000000,1.048000e+03,1048.000000,1048.000000,1048.00000,1048.000000,1048.000000,1048.000000,1.048000e+03,1048.000000,1048.000000,1048.000000,1048.000000,1048.000000
mean,3.779580,2.074427,856.961832,1.388544e+06,-36.894561,174.799026,7.006332e+06,47.544847,28.915076,27.00000,24.131679,22.597328,29.353053,7.006332e+06,5.065840,986.518130,179.799618,141598.377863,179.799618
std,1.167894,0.992904,1589.698071,1.184422e+06,0.128426,0.117991,2.583920e+03,24.713408,20.993232,17.93158,10.956798,10.212455,21.810055,2.583920e+03,2.912027,94.271599,71.087298,14626.088715,71.087298
min,1.000000,1.000000,40.000000,2.700000e+05,-37.265021,174.317078,7.001130e+06,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,7.001130e+06,1.000000,849.000000,3.000000,110400.000000,3.000000
25%,3.000000,1.000000,323.000000,7.800000e+05,-36.950873,174.722226,7.004426e+06,33.000000,15.000000,15.00000,18.000000,15.000000,18.000000,7.004426e+06,2.000000,918.000000,138.000000,132300.000000,138.000000
50%,4.000000,2.000000,571.500000,1.080000e+06,-36.893409,174.798612,7.006334e+06,45.000000,24.000000,24.00000,24.000000,21.000000,27.000000,7.006334e+06,5.000000,959.000000,174.000000,141900.000000,174.000000
75%,4.000000,3.000000,825.000000,1.600000e+06,-36.856280,174.880943,7.008390e+06,57.000000,36.000000,33.00000,30.000000,27.000000,36.000000,7.008390e+06,8.000000,1031.000000,207.750000,152825.000000,207.750000
max,17.000000,8.000000,22240.000000,1.800000e+07,-36.177655,175.492424,7.011028e+06,201.000000,270.000000,177.00000,114.000000,90.000000,483.000000,7.011028e+06,10.000000,1380.000000,789.000000,170500.000000,789.000000

In [89]:
def remove_m(area):
    if area[-2] == "m":
        return float(area[:-2])
    else:
        return float(area)
    
data2["Land area"] = data2["Land area"].apply(remove_m)

TypeError: 'float' object is not subscriptable

In [80]:
data2.dtypes

Bedrooms             int64
Bathrooms          float64
Address             object
Land area          float64
CV                   int64
Latitude           float64
Longitude          float64
SA1                  int64
0-19 years           int64
20-29 years          int64
30-39 years          int64
40-49 years          int64
50-59 years          int64
60+ years            int64
Suburbs             object
SA12018_code         int64
NZDep2018          float64
NZDep2018_Score    float64
URPopnSA1_2018       int64
SA22018_code         int64
SA22018_name        object
Population           int64
dtype: object

In [ ]:
datam = data2.drop("Latitude", axis =1)
datam = datam.drop("Longitude", axis = 1)
datam = datam.drop("SA1", axis = 1)
datam = datam.drop("SA12018_code", axis = 1)
datam = datam.drop("0-19 years", axis = 1)
datam = datam.drop("20-29 years", axis = 1)
datam = datam.drop("30-39 years", axis = 1)
datam = datam.drop("40-49 years", axis = 1)
datam = datam.drop("50-59 years", axis = 1)
datam = datam.drop("60+ years", axis = 1)


datam.hist(figsize = (10,10))

In [ ]:
sns.pairplot(datam, size=2.0)

In [ ]:
ax, fig = plt.subplots(figsize=(16, 10))
correlation_matrix = datam.corr()
sns.heatmap(correlation_matrix, annot=True, cmap="OrRd")

In [ ]:

x = datam
y = datam["CV"]
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.3, random_state=42)

model = LinearRegression()
model.fit(train_x, train_y)

In [ ]:
model.coef_

In [ ]:
predicted = model.predict(test_x)

In [ ]:
plt.scatter(test_y, predicted)

In [ ]:
model.score(test_x, test_y)